/src/Exercise1/nbproject/private/
/src/Exercise1/build/
/src/Exercise1/dist/
/src/Exercise1/data/instances.csv
src/Exercise1/history*.txt
/src/Exercise2/nbproject/private/
/src/Exercise2/build/
/src/Exercise2/dist/
src/Exercise2/log*.txt